@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(42, 42, 179);
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;

    background-color: #202020;

    color: white;
    font-size: 4rem;
}

.nameBx{
    width: 100%;
    display: flex;
    background-color: rgb(224, 116, 15);
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBx{
    display: flex;
    flex-direction: column;
}

.label{
    display: flex;
    justify-content: center;
    color: white;
}

.input{
    margin: 1rem;
    width: 15rem;
    height: 2rem;
    outline: none;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
}

.button{
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    outline: none;
    border: 0;
    border-radius: 5rem;
    box-shadow: 0px 0px 5px black;
}

.container{
    position: relative;
    display: flex;    
    justify-content: center;
    margin: 2rem;
}

.playerBx{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    color: white;
    font-size: 3rem;
}

.playerNames__title{
    color: white;
    font-size: 3rem;
}

.c-morpion{
    background-color: #E15;
    display: flex;
    width: 30rem;
    height: 30rem;
    margin: 2rem;
    flex-direction: column;
    box-shadow: 0px 0px 2px 0px black;
}

.row{
    display: flex;
}

.cell{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 5rem;
    height: 5rem;
    border: 1rem solid black;
    border-radius: 2.5rem;
}

.cross{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.cross:before, .cross:after {
    position: absolute;
    content: ' ';
    height: 5.5rem;
    width: 1rem;
    background-color: white;
}
.cross::before{
    transform: rotate(45deg);
}

.cross::after{
    transform: rotate(-45deg);
}

.winMessage{
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.scoreBx{
    width: 100%;
    height: 100%;
    margin: 2rem 0;
}

.scoreTable{
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.tableHead{
    width: 100%;
}

.headRow{
    width: 100%;
}

.headTableCell{
    width: 50%;
    background-color: #202020;
    border: 1px solid black;
}

.tableBody{
    width: 100%;
}

.tableCell{
    width: 50%;
    border: 1px solid black;
    text-align: right;
}
